body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*------Style header------*/
#header
{
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border-bottom: 2px solid #585858;
}
.plomb 
{
	font-family: 'Shojumaru' ;
	font-size: 30px;
	color:#47a025;
	font-weight: bold;
}


h1
{
	font-family:'Bungee Inline';
}
.inl
{
	display: inline-block;
	vertical-align: baseline;

}
.right
{
	float:right;
	margin-right: 20px;
	padding: 10px;
	color: #47a025;
	font-weight: bold;
	font-size: 20px;

}
i{
	color: black;

}
.lien
{
	position: relative;
	text-decoration: none;
	color:black;
}
.lien span
{
	display: none;
	font-size: 16px;
	z-index: 200;
	color:#424242;

}
.lien:hover span
{
	display:inline;
	position: absolute;
	white-space: nowrap;
	top:35px;
	right: 50px;
}
.fa-comments-o
{
	color: #47a025;	
}

/*-------nav barre------*/
 nav ul
{
	/*margin-top:50px;*/
	list-style-type: none;
	width: 100%;
	height: 50px;
	
}

ul li
{
	display: inline-block;
	/*border:1px solid red;*/
	padding: 10px 10px;
	width:22%;
	height:53%;
	text-align: center;
	transition: 0.4s;
}

nav li a
{
  text-decoration: none;
  color:#424242;
  font-size: 18px;
  font-weight: bold;
}

nav ul li:hover
 {
 	background-color:#47a025;
 	
 }
 nav ul li:hover a
 {
	color: white;
 }
 .slid1, .slid2
 {
 	width: 100%;
 	height: 350px;
 }
 .slid1 img
 {
 	height: 300px;
 	width: 46%;
 	margin:0 1.2% ;
 	margin-left: 32px;
 	display: inline-block;
 }

 .slid2 img, .slid2 div 
{ 
	display: inline-block;
	height: 300px;
	width:46%;
	margin: 0 1.2%; 
	margin-left: 25px;
}

.slid2 div
{
	vertical-align: top;
	background-color: rgb(196,202,224);
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	border:1px solid transparent;
}

.slid2 div ol li
{
	padding: 10px;
}

/*------style footer------*/
footer
{
	width: 100%;
	height: 50px;
 	background-color:#47a025;
 	padding: 5px;
 	text-align: center;
 	font-weight: bold;
} 
/*-------style notarif page-----*/
.tarif{
	margin-top: 50px;
}
.tarif h1
{
 font-family: sans-serif;
 text-align: center
}

/*----style table-----*/
th, td 
{
	border:1px solid transparent;;
	text-align: left;
	padding-left: 20px;
	height: 40px;
	vertical-align: middle;
	font-size: 20px;
	font-style: italic;
}
th
{
	text-align: center;
} 
table
{
	border-collapse: collapse;
	width: 80%;
	margin:auto;
}
th
{
	background-color: #47a025;
}
tr:nth-child(odd)
{
  background-color: #BDBDBD;	
}
table th i
{
	vertical-align: middle;	
}

/*-------start style form--------*/
 #formcontact
 {
 	width: 80%;

	height: 700px;
	margin: auto;
	margin-bottom: 20px;
	
	
 }
 #formcontact fieldset
 {
 	width: 98%;
 	height:100%;
 	background-color: #d5e68d;
 	border:1px solid black;
	border-radius: 5px;
	margin:auto;
 }
 #formcontact fieldset legend
 {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;	
 }
 #formcontact form
 {
 	width: 100%;
 	margin:50px auto;
 }

 #formcontact form input,#formcontact form textarea 

 {
	width: 70%;
	margin:0 20%;
	padding: 10px;
	border: 0.2px solid black;
	border-radius: 5px;
 }
 #formcontact form label
 {
	font-weight: bold;
	font-size: 20px;
 }
 #formcontact form input:hover, #formcontact form textarea:hover
 {
 	box-shadow: 4px 4px #BDBDBD;
 }

 /*------style googlemap-----*/
 #localistaion
 {
 	width: 80%;
 	height: 700px;
 	margin-left: 100px;
 }
 
  #localistaion, .googlemap
 {
 	width:100%;
	text-align: center;
 }
