*{
	box-sizing: border-box;
}
body
{
	margin: 0;
	padding: 0;
	
}

/*------Style header------*/
#header
{
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border-bottom: 2px solid #585858;
}
.plomb 
{
	font-family: 'Shojumaru' ;
	font-size: 30px;
	color:#47a025;
	font-weight: bold;
}


h1 , .plomb2
{
	font-family:'Bungee Inline';
}
.inl
{
	display: inline-block;
	vertical-align: baseline;

}
.right
{
	float:right;
	margin-right: 20px;
	padding: 10px;
	color: #47a025;
	font-weight: bold;
	font-size: 20px;

}
i{
	color: black;

}
.lien
{
	position: relative;
	text-decoration: none;
	color:black;
}
.lien span
{
	display: none;
	font-size: 16px;
	z-index: 200;
	color:#424242;

}
.lien:hover span
{
	display:inline;
	position: absolute;
	white-space: nowrap;
	top:35px;
	right: 50px;
}
.fa-comments-o
{
	color: #47a025;	
}

/*-------End header----*/ 


/*-------nav barre------*/
 nav ul
{
	
	list-style-type: none;
	width: 100%;
	height: 50px;
	
}

ul li
{
	display: inline-block;
	/*border:1px solid red;*/
	padding: 10px 10px;
	width:22%;
	height:75%;
	text-align: center;
	transition: 0.4s;
}

nav li a
{
  text-decoration: none;
  color:#424242;
  font-size: 18px;
  font-weight: bold;
}

nav ul li:hover
 {
 	background-color:#47a025;
 	
 }
 nav ul li:hover a
 {
	color: white;
 }
/*----------end nav---------*/


/*-----------start pres index.html------*/
 .slid1
 {
 	width: 90%;
 	height: 300px;
 }
 .slid1 div
{
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 6%;
	border:1px solid transparent;
	word-spacing: 6px;
}
.slid1 div ol li
{
	padding: 20px;
}

/*-----style slid2----*/
 .slid2
 {
 	width: 100%;
 	height: 500px;
 }
 .slid2 figure

{
	width:25%;
	height: 80%;
 	display: inline-block;


}
.slid2  figure img
 {
 		
 	width: 100%;
	height: 70%
 	border-radius: 5px;
 	border: 1px solid transparent;
  	box-shadow: 2px 2px #47a025;
 }
 .slid2 figure span
 {
 	font-weight: bold;
 	font-style: italic;
 	font-size: 15px;

 }








/*------style footer------*/
footer
{
	width: 100%;
	height: 50px;
 	background-color:#47a025;
 	padding: 5px;
 	text-align: center;
 	font-weight: bold;
} 


/*-------style notarif page-----*/
.tarif{
	margin-top: 50px;
}
.tarif h1
{
 font-family: sans-serif;
 text-align: center
}

/*----style table-----*/
th, td 
{
	border:1px solid transparent;;
	text-align: left;
	padding-left: 20px;
	height: 40px;
	vertical-align: middle;
	font-size: 20px;
	font-style: italic;
}
th
{
	text-align: center;
} 
table
{
	border-collapse: collapse;
	width: 80%;
	margin:50px auto;
}
th
{
	background-color: #47a025;
}
tr:nth-child(odd)
{
  background-color: rgba(187,128,113,0.3);	
}
table th i
{
	vertical-align: middle;	
}


/*-------start style form--------*/
 #formcontact
 {
 	width: 80%;

	height: 700px;
	margin: auto;
	margin-bottom: 20px;
		
 }

 #formcontact fieldset
 {
 	width: 98%;
 	height:100%;
 	/*background-color: rgba(187,128,113,0.3);*/

	border-radius: 5px;
	margin:auto;
 }
 #formcontact fieldset legend
 {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;	
 }
 #formcontact form
 {
 	width: 100%;
 	margin:50px auto;

 }

 #formcontact form input,#formcontact form textarea 

 {
	width: 70%;
	margin:0 20%;
	padding: 10px;
	border-radius: 5px;
	border:1px solid grey;
 	box-shadow: 2px 2px grey;
 }
 #formcontact form input[placeholder],#formcontact form textarea[placeholder] 
 {
	color: #47a025;
	font-weight: bold;
 }
 #formcontact form label
 {
	font-weight: bold;
	font-size: 20px;
 }
 #formcontact form input:hover, #formcontact form textarea:hover
 {
 	box-shadow: 4px 4px #BDBDBD;
 }

 /*------style googlemap-----*/
 #localistaion
 {
 	width: 80%;
 	height: 700px;
 	margin-left: 100px;

 }
 
  #localistaion, .googlemap
 {
 	width:100%;
	text-align: center;
	margin-bottom: 100px;
 }


/*---------Style info page-------*/

.info
{
	width: 100%;
	height:426px;
	margin-bottom: 0px;
}
.nous-somme
{
	width: 68%;
	vertical-align: top;
	word-spacing: 10px;
	font-size: 18px;
	font-weight: bold;
	text-align: justify;
	/*background-color: rgba(187,128,113,0.3);*/
	height:425px;
	padding: 5px 10px

}
.nous-somme p
{
	margin-bottom: 30px;
}
.aside1
{
	width: 30%;
	height:425px;

}
.aside1 img
{
	width:100%;
	height: 100%;
}
.enli
{
	display: inline-block;
}

.basinfo
{
	width: 100%;
	height: 100px;
	/*background-color: rgba(187,128,113,0.3);*/

}
.basinfo h3
{
	font-family: 'Shojumaru';

}
.basinfo p
{
	font-size: 15px;
	
	font-style: italic;

}
.basinfo h3, .basinfo p
{
	animation-name: bouger2;
	animation-duration: 6s;
	animation-iteration-count: infinite;

}
@keyframes bouger2
{
	0%{
		font-size: 15px;
	}
	50%{
		font-size: 20px;
		color:#4f5d2f;
		font-weight: bold;
	}
	to{
	   margin:auto;
	   font-size: 15px;
	   color:black;

	}
}